/* You can add global styles to this file, and also import other style files */
@import '@fontsource/geist-sans/300.css';
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '@fontsource/geist-sans/800.css';
@import '@fontsource/geist-sans/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar,
.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track,
.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb,
.sidebar-scroll::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #454647;
}

p {
  color: #1a202c;
  line-height: 1.625;
  margin-bottom: 18px;
}

.dark p {
  color: rgba(255, 255, 255, 0.9);
}

.bg-pattern {
  background-image: url(./assets/pattern.webp);
}